.greet{
    font-size: 1.5em;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 10vh;
}
.summaryCont{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.summaryHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.calendarIconOnly {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    color: transparent;
    border: none;
    width: 24px;
    height: 24px;
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.11 0-2 .89-2 2v14c0 1.11.89 2 2 2h14c1.1 0 2-.89 2-2V6c0-1.11-.9-2-2-2zm0 16H5V9h14v11zm0-13H5V6h14v1z"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.datePicker{
    height: 6vh;
    display: flex;
    gap: 2vh;
    justify-content: center;
    align-items: center;
}
.dateDropdown{
    height: 5vh;
    width: 20vh;
    padding: 0vh 2vh;
    background-color: rgb(0, 150, 209);
    color: #fff;
    border-radius: 5px;
}
.overViewBoxCont{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border: 1px solid var(--borderColor);
    background-color: #f7fff7;
    padding: 2vh 0vh;
}
.overviewBox{
    height: 14vh;
    width: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}
.overviewItem{
    color: #00c400;
    font-size: 1.25em;
    font-weight: 600;
}
