.chartContainer{
    height: 56vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.filtersContainer{
    display: flex;
    gap: 2vh;
    padding: 2vh;
}
.datePicker,.selectFilter{
    width: 16vh;
    padding: 1vh 2vh;
    border-radius: 5px;
    color: #00c400;
    border: #000;
    background-color: unset;
    border: 1px solid #00c400;
    
}
.chart{
    height: 48vh !important;
    width: auto !important;
}