/* DM Sans Font */ 
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root{
  --colorPrim : #852d05;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'DM Sans';
}