.founderWrapper{
    margin-top: 10vh;
    padding: 5vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.founderTitle{
    font-size: 1.75em;
    font-weight: 600;
    color: var(--colorPrim);
    padding: 5vh;
}
.foundersCont{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 4vh;
}
.founderCard{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4vh;
}
.founder{
    height: 50vh;
    padding: 2vh;
    width: 70vh;
    border-radius: 1vh 1vh 6vh 1vh;
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
    font-weight: 600;
}
.founder1{
    background-image: url('https://media.istockphoto.com/id/1369508766/photo/beautiful-successful-latin-woman-smiling.jpg?s=612x612&w=0&k=20&c=LoznG6eGT42_rs9G1dOLumOTlAveLpuOi_U755l_fqI=');
}
.founder2{
    background-image: url('https://media.istockphoto.com/id/1459178010/photo/fashion-industry-black-woman-and-designer-portrait-of-clothing-tailor-with-business-vision.jpg?s=612x612&w=0&k=20&c=XmGyalprlJMrpEPuduBA-YTrcbEXl8p0PFgTxWi0vvU=');
}
.founderDesc{
    width: 70vh;
    text-align: justify;
    padding: 4vh 2vh;
    font-size: .8em;
    font-family: var(--descFont);
}
@media(max-width:1015px){
    .founder{
        height: 40vh;
        width: 50vh;
    }
    .founderDesc{
        width: 50vh;
    }
}
@media(max-width:768px){
    .foundersCont{
        display: flex;
        flex-direction: column;
    }
    .founder{
        width: 70vh;
        height: 50vh;
    }
    .founderDesc{
        width: 70vh;
    }
}
@media(max-width:475px){
    .foundersCont{
        gap: 0vh;
    }
    .founder{
        width: 48vh;
        height: 35vh;
    }
    .founderDesc{
        width: 48vh;
    }
    .founderTitle{
        font-size: 1.5em;
        padding: 0;
    }
}