.paymentsWrap{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.paymentsHead{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    font-size: .8em;
}
.calendarIconOnly {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    color: transparent;
    border: none;
    width: 24px;
    height: 24px;
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.11 0-2 .89-2 2v14c0 1.11.89 2 2 2h14c1.1 0 2-.89 2-2V6c0-1.11-.9-2-2-2zm0 16H5V9h14v11zm0-13H5V6h14v1z"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.datePicker{
    display: flex;
    gap: 2vh;
    align-items: center;
    padding: 2vh;
}
.dateDropdown{
    height: 5vh;
    width: 20vh;
    padding: 0vh 2vh;
    background-color: rgb(0, 150, 209);
    color: #fff;
    border-radius: 5px;
}
.paymemtCont{
    display: flex;
    flex-direction: column;
    padding: 2vh;
    overflow-y: auto;
}
.headItem{
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorPrimLight);
}
.paymentBox{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    font-size: .8em;
    height: 6vh;
}
.paymentItem{
    display: flex;
    justify-content: center;
    align-items: center;
}
.paymentBox:nth-child(odd){
    background-color: var(--colorPrimLight);
}