.orderWrap{
    height: 100%;
    width: 100%;
    padding: 2vh;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(auto,1fr);
    gap: 5vh;
    overflow-y: auto;
}
.orderCard{
    height: 42vh;
    width: auto;
    border: 1px solid var(--borderColor);
    border-radius: 1vh;
    font-size: .8em;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
}
.orderTitle{
    padding-bottom: 1vh;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--colorPrim);
    font-weight: 600;
    border-radius: 1vh 1vh 0vh 0vh;
    padding: 2vh;
}
.itemsWrap{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    color: #444444;
    font-weight: 500;
    font-size: .9em;
}
.itemTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 2vh;
    border-bottom: 1px dashed var(--borderColor);
}
.statusCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 2vh;
}
.checkOutBtn,.cancelOrderBtn{
    height: 4vh;
    width: 10vh;
    font-size: .8em;
    border-radius: 1vh;
    border: 1px solid #00bb09;
    color: #00bb09;
    background-color: #fff;
    cursor: pointer;
    font-weight: 500;
}
.cancelOrderBtn{
    border: 1px solid var(--colorPrim);
    color: var(--colorPrim);
}
.cancelOrderBtn:hover{
    background-color: var(--colorPrim);
    color: #fff;
    transition: .2s ease;
}
.checkOutBtn:hover{
    background-color: #00bb09;
    color: #fff;
    transition: .2s ease;
}
