.itemsCont{
    display: flex;
    flex-direction: column;
    height: 22vh;
    gap: 1vh;
    overflow-y: auto;
}
.item{
    display: flex;
    justify-content: space-between;
    padding: 0vh 3vh 0vh 2vh;
}
.itemName{
    list-style-type: disc;
}