
.navCont{
    height: 100%;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-right: 1px solid var(--borderColor);
}
.cafeName{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: 600;
    color: var(--colorPrim);
    font-family: "Julius Sans One", sans-serif;
}
.navLinksCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 90%;
    gap: 2vh;
}
.navLink{
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9em;
    color: #414141;
    width: 80%;
    padding: 0vh 2vh;
}
.navLink:hover{
    background-color: var(--colorPrim);
    color: #fff;
    border-radius: 1vh;
}
.navItem{
    margin-left: 2vh;
    width: 20vh;
}
.active{
    background-color: var(--colorPrim);
    color: #fff;
    border-radius: 1vh;
}