.titleCont{
    height: 6vh;
    display: flex;
    justify-content: center;
}
.title{
    background-color: var(--colorPrim);
    color: #fff;
    height: 6vh;
    width: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0vh 0vh 1vh 1vh;
}