.footer{
    height: 8vh;
    color: var(--colorPrim);
    background-color: var(--colorPrimLight);
    display: grid;
    grid-template-columns: repeat(5,1fr);
    position: absolute;
    bottom: 0;
    width: 100vw;
}
.footItemCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vh 0vh;
}
.footIcon{
    font-size: 1.25em;
}
.footItem{
    font-size: .85em;
}
.cartQty{
    position: absolute;
    height: 2.5vh;
    width: 2.5vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .7em;
    background-color: var(--colorPrim);
    color: #fff;
    bottom: 5.5vh;
    left: 32vw;
}