footer{
    margin-top: 30vh;
    height: 40vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 2vh;
    gap: 2vh;
    color: #fff;
    background-image: linear-gradient(to right,#ff997a,#e43326,#e43326);
}
.footItemsCont{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh 4vh;
}
.cafeName{
    font-size: 2em;
    font-weight: 600;
}
.nameDesc{
    font-size: .7em;
    padding: 1vh 0vh;
}
.itemTitle{
    font-size: 1.35em;
    border-bottom: 2px solid #fff;
}
.footItems{
    padding: 6vh 0vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}
.footItem{
    cursor: pointer;
}


@media(max-width:914px){
    .cafeName{
        font-size: 1.6em;
    }
    .itemTitle{
        font-size: 1.15em;
    }
    .footItem{
        font-size: .8em;
    }
}
@media(max-width:775px){
    footer{
        margin-top: 10vh;
        gap: 0vh;
        height: fit-content;
    }
    .footItemsCont{
        padding: 2vh 0vh;
    }
}
@media(max-width:595px){
    .cafeName{
        font-size: .8em;
    }
    .itemTitle{
        font-size: .6em;
    }
    .footItem{
        font-size: .5em;
    }
    .footItems{
        padding: 2vh 0vh;
    }
    .nameDesc{
        font-size: .5em;
    }
}