@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');

.menuContainer{
    height: 46vh;
    width: 100vw;
    overflow-y: scroll;
    padding: 1vh 2vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.categorySection{
    color: var(--colorPrim);
}
.categoryTitle{
    border-bottom: 1px solid var(--colorPrim);
    padding-bottom: 1vh;
    font-family: "Edu NSW ACT Cursive", cursive;
    font-weight: 300;
}
.itemList{
    padding: 1vh 0vh;
    row-gap: 2vh;
}
.item{
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    place-items: center;
    height: 8vh;
    margin-bottom: 2vh;
}
.foodImg{
    height: 8vh;
    width: 12vh;
    border-radius: 1vh;
}
.foodItem{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
.addBtn{
    height: 5vh;
    width: 12vh;
    background-color: #fff;
    border-radius: 2vh;
    border: 2px solid var(--colorPrim);
    color: var(--colorPrim);
}
.addBtn:active{
    background-color: var(--colorPrim);
    border: none;
    color: #fff;
}
.counterBtn{
    background-color: #fff;
    border: 2px solid var(--colorPrim);
    padding: .5vh 1vh;
    border-radius: 1vh;
    text-align: center;
}
.countDisplay{
    padding: 0vh 2vh;
}