nav{
    display: flex;
    gap: 2vh;
    overflow-x: auto;
    padding: 5px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.categoryBtn{
    height: 4.5vh;
    width: 100px;
    display: inline-block;
    flex-shrink: 0;
    background-color: var(--colorPrim);
    color: #fff;
    border-radius: 5vh;
}
.active{
    border: 2px solid var(--colorPrim);
    background-color: #fff;
    color: var(--colorPrim);
}
nav::-webkit-scrollbar {
    display: none;
}
  