.menuWrap{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0vh 2vh;
    overflow-y: auto;
    margin-bottom: 2vh;
}
.itemHead{
    width: 100%;
    height: 10vh;
    background-color: var(--colorPrimLight);
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 1fr 2fr 1fr;
    border-radius: 1vh 1vh 0vh 0vh;
}
.itemTitle{
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    font-weight: 500;
}