.menuControls{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
}
.searchBox{
    display: flex;
    height: 100%;
    color: #fff;
    border: 1px solid var(--borderColor);
    border-radius: 1vh;
}
.searchBtn{
    padding-left: 2vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(56, 56, 56);
    background-color: unset;
}
.inputBox{
    padding-left: 2vh;
    color: #2e2e2e;
    border-radius: 1vh;
}
.inputBox::placeholder{
    color: rgb(102, 102, 102);
}
.addItmFilterCont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}
.filterBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    padding: 2vh 4vh;
    background-color: unset;
    border-radius: 1vh;
    border: 1px solid var(--borderColor);
    cursor: pointer;
}
.filterIcon{
    height: 2vh;
    color: #2e2e2e;
    transform: rotate(90deg);
}
.dropdown{
    position: absolute;
    top: 9vh;
    right: 34vh;
    width: 22vh;
    font-size: .8em;
    background-color: #fff;
    box-shadow: 0px 0px 7px 0px silver;
    display: flex;
    flex-direction: column;
}
.dropdownItem{
    height: 5vh;
    display: flex;
    align-items: center;
    padding-left: 2vh;
}
.dropdownItem:hover{
    background-color: rgb(255, 228, 228);
    cursor: pointer;
}
.addItemBtn{
    background-color: var(--colorPrim);
    color: #fff;
    padding: 2vh 4vh;
    cursor: pointer;
    border-radius: 1vh;
}
i{
    margin-right: 2vh;
}
