.tableWrapper{
    background-color: #fff;
    border-radius: 1vh;
    height: 100%;
    width: 80vw;
}
.titleCont{
    height: 6vh;
    display: flex;
    justify-content: center;
}
.title{
    background-color: var(--colorPrim);
    color: #fff;
    padding: 2vh 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0vh 0vh 1vh 1vh;
}
.tableMap{
    height: 90vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 2vh;
}
.col1,.col2,.col3,.col4{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.col1{
    gap: 2vh;
}
.tbCol1,.tbCol2,.tbCol3,.tbCol4{
    background-position: center;
    background-size: 100% 100%;
}
.tbCol1{
    height: 15vh;
    width: 15vh;
    background-image: url('../../assets/dinner-table.png');
}
.statusBall{
    height: 3vh;
    width: 3vh;
    border-radius: 50%;
    background-color: rgb(0, 216, 36);
    color: #fff;
    font-size: .7em;
    cursor: pointer;
}

.col2{
    gap: 2vh;
    justify-content: space-between;
}
.tbCol2{
    background-image: url('../../assets/roundTable.png');
    height: 20vh;
    width: 20vh;
}
.col2tb2{
    transform: rotate(180deg);
}
.cashCounter{
    background-position: center;
    background-size: 100% 100%;
    height: 15vh;
    width: 15vh;
    background-image: url('../../assets/cashCounter.png');
}
.col3{
    gap: 4vh;
}
.tbCol3{
    background-image: url('../../assets/longTable.png');
    height: 25vh;
    width: 22vh;
}
.col3tb3{
    background-image: url('../../assets/squareTable.png');
}
.col4{
    gap: 8vh;
}
.tbCol4{
    height: 15vh;
    width: 15vh;
    background-image: url('../../assets/outdoorTable.png');
}