.menuNav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh 0vh;
    background-color: var(--colorPrimLight);
}
.menuNav :global(.swiper) {
    width: 100%;
}
.menuNav :global(.swiper-slide) {
    width: 100px;
    text-align: center;
    padding: 1vh 0vh;
    border-radius: 4vh;
    white-space: nowrap;
    font-size: .7em;
    color: #fff;
    background-color: var(--colorPrim);
  }
  .swipeNotice{
      font-size: .6em;
  }